@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin w-1200 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;

  * {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  ul,
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 80px;
    font-weight: 900;
  }

  h2 {
    font-size: 64px;
    font-weight: 500;
  }

  .fz-24 {
    font-size: 24px;
    font-weight: bold;
  }
}

#banner {
  background: #e6e7e8 url("../image/banner.png") no-repeat center center / cover;
  padding: 308px 0;

  .banner-wrap {
    @include w-1200();
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .banner-desc {
      margin: 32px 0 40px;
      line-height: 36px;
    }
    .banner-social {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 16px;

      .social-link {
        display: inline-block;
      }
    }
  }
}

#about {
  padding: 56px 0;
  .about-wrap {
    @include w-1200();
    justify-content: center;
    align-items: center;

    .about-img {
      width: 384px;
      height: 384px;
      margin-top: 40px;
    }

    .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      text-align: center;

      .about-personal {
        margin: 0;

        p {
          margin-top: 4px;

          &:last-child {
            margin-top: 8px;
            line-height: 36px;
          }
        }
      }

      .about-experience {
        display: flex;
        flex-direction: column;
        width: 384px;
        margin-top: 28px;
        padding-top: 28px;
        border-top: 1px solid #000;
        gap: 28px 0;

        span {
          position: relative;
          padding-left: 36px;
        }

        span::before {
          content: "";
          width: 22px;
          height: 22px;
          border-radius: 999px;
          background-color: #891818;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

#brand {
  padding: 56px 0 160px;
  background-color: #000;
  color: #fff;

  .brand-wrap {
    @include w-1200();
    justify-content: center;
    align-items: center;
    text-align: center;

    .brand-name {
      margin-top: 12px;
    }

    .brand-desc {
      margin-top: 32px;
      line-height: 30px;
    }

    .brand-show {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 68px;
      gap: 40px 24px;
    }
  }
}

#other-works {
  padding: 56px 0 144px;

  .other-works-wrap {
    @include w-1200();
    justify-content: center;
    align-items: center;

    .other-works-desc {
      p {
        margin-top: 16px;
        text-align: center;
      }
    }

    .other-works-list {
      margin-top: 56px;
      display: flex;
      flex-wrap: wrap;
      gap: 48px 24px;

      li {
        text-align: center;

        p {
          margin-top: 16px;
        }
      }
    }
  }
}

#contact {
  padding: 64px 0;
  background-color: #000;
  color: #fff;

  .contact-wrap {
    @include w-1200();
    justify-content: center;
    align-items: center;

    p {
      margin-top: 16px;
    }
  }
}
