@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
html *,
body * {
  margin: 0;
  padding: 0;
}
html img,
body img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
html ul,
html li,
body ul,
body li {
  list-style: none;
}
html a,
body a {
  text-decoration: none;
}
html h1,
body h1 {
  font-size: 80px;
  font-weight: 900;
}
html h2,
body h2 {
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}
html .fz-24,
body .fz-24 {
  font-size: 24px;
  font-weight: bold;
}

#banner {
  background: #e6e7e8 url("../image/banner.png") no-repeat center center/cover;
  padding: 308px 0;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 768px) {
  #banner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#banner .banner-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
@media (max-width: 375px) {
  #banner .banner-wrap .banner-name h1 {
    font-size: 72px;
  }
}
#banner .banner-wrap .banner-desc {
  margin: 32px 0 40px;
  line-height: 36px;
}
#banner .banner-wrap .banner-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 16px;
}
#banner .banner-wrap .banner-social .social-link {
  display: inline-block;
}

#about {
  padding: 56px 0;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 768px) {
  #about {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#about .about-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
#about .about-wrap .about-img {
  max-width: 384px;
  max-height: 384px;
  width: 100%;
  margin-top: 40px;
}
#about .about-wrap .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
#about .about-wrap .about-content .about-personal {
  margin: 0;
}
#about .about-wrap .about-content .about-personal p {
  margin-top: 4px;
}
#about .about-wrap .about-content .about-personal p:last-child {
  margin-top: 8px;
  line-height: 36px;
}
#about .about-wrap .about-content .about-experience {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  padding-top: 28px;
  max-width: 384px;
  width: 100%;
  border-top: 1px solid #000;
  gap: 28px 0;
}
#about .about-wrap .about-content .about-experience span {
  position: relative;
  padding-left: 36px;
}
#about .about-wrap .about-content .about-experience span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border-radius: 999px;
  background-color: #891818;
}

#brand {
  padding: 56px 0 160px;
  background-color: #000;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 768px) {
  #brand {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#brand .brand-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#brand .brand-wrap .brand-name {
  margin-top: 12px;
}
#brand .brand-wrap .brand-desc {
  margin-top: 32px;
  line-height: 30px;
}
#brand .brand-wrap .brand-show {
  margin-top: 68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px 24px;
}
@media (max-width: 1279px) {
  #brand .brand-wrap .brand-show {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

#other-works {
  padding: 56px 0 144px;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 768px) {
  #other-works {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#other-works .other-works-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
#other-works .other-works-wrap .other-works-desc p {
  margin-top: 16px;
  text-align: center;
}
#other-works .other-works-wrap .other-works-list {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
@media (max-width: 1279px) {
  #other-works .other-works-wrap .other-works-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
#other-works .other-works-wrap .other-works-list li {
  text-align: center;
}
#other-works .other-works-wrap .other-works-list li p {
  margin-top: 16px;
}

#contact {
  padding: 64px 0;
  background-color: #000;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 768px) {
  #contact {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#contact .contact-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
#contact .contact-wrap .contact-content .contact-mail,
#contact .contact-wrap .contact-content .contact-phone {
  margin-top: 16px;
  text-align: center;
}/*# sourceMappingURL=all.css.map */